#!/bin/bash
set -euxo pipefail

cd /home/ubuntu/ai-devops-assistant

AWS_REGION="ap-south-1"
AWS_ACCOUNT_ID="848504403730"

sudo systemctl start docker

aws ecr get-login-password --region "$${AWS_REGION}" | \
docker login \
  --username AWS \
  --password-stdin "$${AWS_ACCOUNT_ID}.dkr.ecr.$${AWS_REGION}.amazonaws.com"

docker compose pull

docker compose up -d --remove-orphans

docker compose ps

curl -f http://localhost:8000/health

docker image prune -af